footer{
	background-color: #282828;
	padding: 40px 0;
}
footer *{
	color: #fff;
}
footer .logos>div{
	height: 40px;
	width: fit-content;
	padding-right: 20px;
}
footer .logos img{
	height: 100%;
	width: auto;
}
footer .row > div{
	padding: 0 15px;
}
footer svg path{
	fill: #d7d7d7;
}
footer svg{
	width: 40px !important;
	height: 40px !important;
}
footer li{
	display: inline-block;
}
.wrapper-media{
	flex-grow: 1;
	text-align: right;
}
.more-info{
	flex-grow: 1;
	width: min-content;
	text-align: right;
}
.more-info a{
	font-size: 13px;
}
.more-info p{
	font-size: 12px;
}
.img-left img{
	margin: 0;
	width: 200px;
	height: auto;
}
.logos{
	display: flex;
}
@media (max-width: 768px) {
	.wrapper-media{
		width: 100%;
		text-align: center;
	}
	.logos{
		order: 2;
	}
	footer .row>div{
		margin: auto;
	}
	.img-left, .more-info{
		text-align: center;
	}
}
@media (max-width: 575px) {
	.logos>div{
		height: initial !important;
	}
	.logos img{
		height: unset !important;
		width: 100% !important;
	}
}