.section{
	position: relative;
	max-width: 1440px;
	margin: auto;
}
.container-fluid{
	padding:0;
}

/*header*/
.header{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	z-index: 20;
	top: 20px;
	border: 1px solid #e8e8e8;
}
.header *{
	color: #333;
	text-transform: uppercase;
	font-weight: bold;font-size: 13px;
}
.menu-header{
	float: left;
}
.fix{
	position: fixed;
	top: 0;
}
.menu-header a.nav-link{
	padding-left: 0;
	padding-right: 5px;
}
.menu-header a.nav-link:not(.last-child):after{
	content: "/";
	padding-left: 5px;
}
.button-right{
	float: right;
	margin-top: 4px;
	position: relative;
}
.button-right button{
	width: 150px;
}

button.btn-more{
	border: 1px solid #fff;
	background-color: transparent;
	font-weight: bold;
	text-transform: uppercase;
}
.btn-games{
	padding: 2px 5px;
	position: relative;
	border: 1px solid #e8e8e8 !important;
}
.btn-games:after{
	font-family: "FontAwesome";
	content: '\f107';
	position: absolute;
	right: 10px;
	font-size: 24px;
	top: 50%;
	transform: translateY(-50%);
}
div#collapseGames{
	position: absolute;
	background-color: #fff;
	text-align: center;
	width: 50%;
}
div#collapseGames ul{
	margin-bottom: 0;
}
div#collapseGames li{	
	border-bottom: 1px solid #333;
}
div#collapseGames li:hover{
	background-color: #97743A;
	color: #fff;
}
div#collapseGames a{
	display: block;
	line-height: 40px;
	text-transform: initial;
}
/*end header*/

/*wrapper-video*/
.wrapper-video{
	position: relative;
}
.wrapper-home video{
	width: 100%;
}
.wrapper-video .container{
	position: absolute;
	bottom: 70px;
	display: flex;
	width: 100%;
	padding: 0 30px;
	left: 50%;
	transform: translateX(-50%);
}
.video-text{
	flex-grow: 1;
}
.video-text * {
	color: #fff;
	text-transform: uppercase;
}
.video-text h1{
	font-family: 'RobotoBold';
	font-weight: bolder;
	font-size: 40px;
}
.video-text h3{
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}
.video-button img{
	width: 200px;
	display: block;
	margin:0 auto 20px;
}
.video-button button{
	width: 250px;
	background-color: transparent;
	height: 40px;
}
.video-button button a{
	color: #fff;
	font-weight: bold;
}
.video-button button:hover{
	background-color: #97743A;
	border: 1px solid #97743A;
}
.video-button button:hover a{
	color: #fff;
	text-decoration: underline;
}
@media (max-width: 900px) {
	.wrapper-video .container{
		bottom: 20px;
	}
	.video-text{
		display: none;
	}
	.video-button{
		margin: auto;
	}
}
@media (max-width: 767px) {
	.video-button{
		margin-bottom: 0;
	}
	.video-button button{
		display: block;
		margin-top: 10px;
	}
	.video-button img{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.wrapper-video video{
		height: 350px;
		object-fit: cover;
	}
	.wrapper-video .container{
		height: 100%;
		bottom: 0;
		position: initial;
		transform: initial;
		left: initial;
	}
}
/*end wrapper-video*/

.line{
	height: 5px;
	width: 100%;
	background-color: #97743a;
}

.wrapper{
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.wrapper h1{
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'RobotoBold';
	font-size: 40px;
	margin-bottom: 30px;
}
@media (max-width: 991px) and (min-width: 768px){
	.wrapper h1{
		font-size: 30px;
	}
}
@media (max-width: 767px){
	.wrapper h1{
		font-size: 24px;
	}
}

/*short-des*/
.wrapper.short-des{
	background-image: url('../img/bg.jpg');
	height: 500px;
}
.short-des .container{
	position: absolute;
	width: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
}
.wrapper.short-des>img{
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
}
.short-des .container img{
	width: 300px;
	margin-bottom: 20px;
}
.short-des * {
	color: #fff;
}
.short-des h2{
	font-family: 'RobotoBold';
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 22px;
}
.short-des p{
	font-size: 18px;
	margin-bottom: 20px;
}
.short-des .video-button{
	position: initial !important;
}
.short-des button{
	border-color: #fff !important;
}
@media (max-width: 991px) {
	.short-des .container{
		left: 0;
	}
	.short-des .container img{
		width: 200px;
	}
}
@media (max-width: 575px) {
	.short-des .container{
		width: 100%;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.short-des .container{
		width: 70%;
	}
}
/*end short-des*/

/*owl-carousel*/
.races h1{
	color: #fff;
}
.races{
	background-color: #353535;
}
.owl-carousel *{
	transition: all 0.3s ease;
}
.owl-stage-outer{
	overflow: visible !important;
}
.owl-stage{
	padding: 100px 0;
}
.owl-item{
	padding: 20px;
}
.owl-item:not(.center) {
	filter: brightness(0.5);
}
.owl-item.active.center .box-img{
	transform: scale(1.8);
}
.owl-item.active.center{
	position: relative;
	z-index: 100;
}
.owl-nav button{
	background-color: transparent !important;
	width: 50px !important;
    border-radius: 50% !important;
    height: 50px !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #fff !important;
}
.owl-nav button svg{
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.owl-nav button path{
	fill: #fff;
}
.owl-prev{
	left: 0;
}
.owl-next{
	right: 0;
}
.owl-item:not(.center) .item-caption{
	display: none;
}
.owl-item.active.center .item-caption{
	z-index: 100;
	position: absolute;
	color: #fff;
	bottom: 0;
	text-align: center;
	font-size: 11px;
}
@media (max-width: 991px) {
	.owl-item.active.center .box-img{
		transform: initial;
	}
	.owl-stage{
		padding: 0;
	}
	.owl-item.active.center .item-caption{
		position: initial;
		font-size: 14px;
		padding-top: 10px;
	}
	.owl-item{
		padding: 0;
	}
}
@media (max-width: 767px) {
	.owl-nav button{
		width: 30px !important;
		height: 30px !important;
	}
}
/*end owl carousel*/

/*video-game*/
.video-game{
	position: relative;
	padding: 0;
}

div.small-video{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	display: flex;
}
div.small-video video{
	width: 300px;
	padding: 0 5px;
}
@media (max-width: 899px) {
	div.small-video{
		position: initial;
		flex-wrap: wrap;
		bottom: initial;
		left: initial;
		transform: initial;
	}
	div.small-video video{
		margin: auto;
		margin-top: 10px;
	}
}
@media (max-width: 599px) {
	div.small-video video{
		width: 100%;
		padding: 0;
	}
}
/*end video-game*/


/*player-guides*/
.player-guides h5{
	font-size:16px;
	padding-bottom: 20px;
}
.wrapper .card{
	border-radius: 0;
}
.player-guides .card-title{
	font-family: 'RobotoBold';
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.wrapper .card-text{
	font-size: 16px;
	font-weight: 600;
}
.wrapper .item{
	padding-bottom: 30px;
}
.wrapper button{
	height: 40px;
	width: 200px;
	border-color: #333;
}
.wrapper-btn-more{
	text-align: center;
}
/*end player-guides*/

/*blog*/
.wrapper .row>div{
	margin: auto;
}
.blog .card{
	border: 0;
}
.blog .card-body{
	height: 210px;
	background-color: #C6BABA;
	padding: 15px 10px;
}
.blog .card-text{
	text-transform: uppercase;
}
/*end player-guides*/

/*related-games*/
.wrapper.related-games{
	background-image: url('../img/bg.jpg');
}
.related-games h1{
	display: table;
	margin: auto;
	color: #fff;
	margin-bottom: 30px;
}
/*end related-games*/